// Mixins in here

.buttonMix() {
    width: 80%;
    font-size: 2rem;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background: #008080;
    color: white;
    padding: 3%;
    border-radius: 10px;
}