// Navigation Styles here
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 0 0;
    padding-bottom: 2%;
    border-bottom: 2px dashed #C0C0C0;

    .navDiv {

        display: flex;
        padding-left:5%;
        width: 50%;
        justify-content: space-around;

        a {

            justify-content: space-around;
            text-decoration: none;
            font-size: 1.4rem;
            color: black;

            &:hover {
                text-decoration: underline;
                
            }
        }
    }
}